<!DOCTYPE html>
	<html>
		<head>
			<title>Sign Up</title>
			<link rel="stylesheet" href="stylesheets/mystyle.css"> 
			
		</head>	
			<body align="center"  background="images/beach.jpg">
				<h1>Sign Up Form</h1>
				<script>
				h1{color: orange;}
				</script>
				
				<form action="/SignUp" method="post">
					
					<input type="text" name="name" placeholder="Name"><br><br><br>
					
					<input type="Email" name="email" placeholder="Email"><br><br><br>
					
					<input type="tel" name="mobile" placeholder="Mobile number"><br><br><br>

					<input type="Password" name="password" placeholder="Password"><br><br><br>
					<input type="submit" name="" value="SignUp">
					<input type="reset" name=""><br><br><br>
					<address>Already have a account?
						<a href="signin"><h3>Sign in</h3></a><br>	
					
					
				</form>
			</body>
</html>
