<!DOCTYPE html>
	<html>
		<head>
			<title>signin</title>
			<a>	<link rel="stylesheet" href="stylesheets/style.css"> </a>
		</head>	
			<body align="center"  background="images/bridge.jpg">
				<h1>Sign In Form</h1>
				<form action="signin" method="post">
					
					<input type="Email" name="" required="" placeholder="Email"><br><br><br>
					<input type="Password" name="" required="" placeholder="Password"><br><br><br>
					
					<input type="submit" name="" value="Sign in">
					<input type="Reset" name=""><br><br><br>
					
					
					
				</form>
			</body>
</html>