<!DOCTYPE html>
	<html>
		<head>
			<title>My Html practice</title>
			<link rel="stylesheet" href="stylesheets/style.css">
		</head>	
			<body align="center"  background="images/beach.jpg">
				<form >
					<p><strong>Hello....  Welcome  Everyone</strong>.</p>
					<label>Email id:</label>
					<input type="Email" name="" required="" placeholder="Email"><br><br><br>
					<label>Mobile number:</label>
					<input type="tel" name="" required="" placeholder="Mobile"><br><br><br>
					<label>Password:</label>
					<input type="Password" name="" required="" placeholder="Password"><br><br><br>
					<label>comment:</label>
					<textarea>  </textarea><br><br><br>

					<input type="submit" name=""></div>
					<input type="Reset" name=""><br><br><br>
					
					<address>This document was written by:<br><br>
						<a href="https://www.w3schools.in/">W3 Schools.in</a><br>	
					
				</form>
			</body>
</html>